/build/
/CMakeFiles/
/Testing/
/.csettings/
/.settings/
**/CMakeCache.txt
**/.cproject
**/.project
*.cmake
*.tcl
*.out
Makefile
Main

**/__pycache__/
__init__.py
/python/.idea/
/python/log/
/.idea/
/Example/
/log*
*.off
runDocker.sh
